{template "content","header"}
<div class="clear"></div>
<div class="main" style="border-top: 1px solid #ededee;">
	<div class="main-body">
		{template "content","bread"}
		<div style="width: 200px;float: left;">
			<h2>科研团队</h2>
			<div class="line-blue"></div>
			<div>
				<div class="rollBox" style="overflow: visible;margin-top: 25px;">
					<div class="Cont" id="ISL_Cont" style="height: 620px;">
						<div class="ScrCont" style="width: auto;">
							<div id="List1">
								{pc:content action="lists" catid="$catid" order="id ASC"}
								{loop $data $r}
								<div class="pic" style="margin-bottom: 25px;">
									<a href="{$r[url]}"><img src="{thumb($r[thumb],180,0)}"/></a>
									<div>
										<span>{str_cut($r[title],80)}</span>
										<a href="{$r[url]}" title="{$r[title]}">查看更多</a>
									</div>
								</div>
								{/loop}
								{/pc}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{template "content","footer"}