{template "content","header"}
{php $newsid=$_GET['id']}
<div class="clear"></div>
<div class="main" style="border-top: 1px solid #ededee;">
	<div class="main-body">
		{template "content","bread"}
		<div style="width: 200px;float: left;">
			<h2>{$CATEGORYS[$catid]['catname']}</h2>
			<div class="line-blue"></div>
			<div class="list-left">
				<ul>
					{pc:content action="lists" catid="$catid" order="id DESC" page="$page" num="10" }
					{loop $data $r}
					{php if ($newsid==false) $newsid=$r[id]}
					{php if ($r[id]==$newsid) $news=$r}
					{php $class=''}
					{php if ($r[id]==$newsid) $class='class="active"'}
					<li {$class}>
						<a href="/list-{$catid}-{$page}-{$r[id]}.html" title="{$r[title]}">{str_cut($r[title],32)}</a>
					</li>
					{/loop}
					{/PC}
				</ul>
				<div id="pages" class="text-c" style="margin-top: 20px;">{$pages}</div>
			</div>
		</div>
		<div class="text" style="margin-left: 400px;">
			{pc:get sql="select * from v9_news_data where id=$newsid" return="newsdata"}
			{loop $newsdata $r}
			<h2 class="text-title">{$news[title]}</h2>
			<span class="text-bk">背景资料</span>
			<span class="text-time"><span class="time"></span>
                发布于{date('Y',$news[inputtime])}年{date('m',$news[inputtime])}月{date('d',$news[inputtime])}日</span>
			<p class="text-details">
				{$r[content]}
			</p>
			{/loop}
			{/PC}
		</div>
	</div>
</div>
{template "content","footer"}